.pageheader {
  &.has-bg-image {
    display: flex;

    &.text-align-vert-center {
      align-items: center;
    }

    &.text-align-vert-bottom {
      align-items: flex-end;
    }
  }

  &__header-inner {
    .l-container-padding(@block-padding-ver, @block-padding-hoz);
  }
}

//make this AAT ready
